<h4>This is the sign up form</h4>

<h2>Sign Up Form</h2>
<form action="/register" method="POST">
    <input type="text" name="username" placeholder="Your username">
    <input type="password" name="password" placeholder="Your password">
    <button>Submit</button>
</form>