<%- include ("partials/header"); %>

<h1>This is the HomePage</h1>

<p>This is an amazing app</p

<%- include ("partials/footer"); %>



<!-- <%- include ("partials/header"); %> -->

<!-- <%- include ("partials/footer"); %> -->